/* common styles */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 40px 20px;
    border-bottom: lightgray solid 1px;
    font-weight: bold;
}

main {
    padding: 20px 0;
}

.footer {
    padding: 40px 20px;
    border-top: lightgray solid 1px;
}

/* video gallery */

.video__box {
    display: flex;
    flex-direction: column;
}

.video__player {
    margin-bottom: 20px;
}

.video__player iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.video__menu {
    overflow: auto;
    min-width: 300px;
}

.video__menu a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all .5s;
}

.video__menu span {
    display: block;
    padding: 10px;
}

.video__menu a:hover {
    text-decoration: none;
    background: beige;
}

.video__menu a:hover img {
    opacity: 1;
    transition: all .5s;
    vertical-align: top;
}

.video__menu img {
    margin-right: 10px;
    opacity: 0.8;
    min-width: 120px;

}

@media (min-width: 780px) {

    main {
        padding: 40px 0;
    }

    .video__box {
        flex-direction: row;
    }

    .video__player {
        margin-bottom: 0;
        padding-right: 20px;
        width: 70%;
    }

    .video__player iframe {
        height: 400px;
    }

    .video__menu {
        width: 30%;
        max-height: 400px;
    }

    .video__menu a {
        margin-bottom: 12.5px;
    }
}